[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:iamFIREcracker/dotfiles.git
	ignore = dirty
	update = none
[submodule "opt/z"]
	path = opt/z
	url = https://github.com/rupa/z.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "opt/vim"]
	path = opt/vim
	url = https://github.com/vim/vim
[submodule "opt/tmux"]
	path = opt/tmux
	url = https://github.com/tmux/tmux
[submodule "opt/cb"]
	path = opt/cb
	url = git@github.com:iamFIREcracker/cb.git
[submodule "opt/cg"]
	path = opt/cg
	url = git@github.com:iamFIREcracker/cg.git
[submodule "opt/vlime"]
	path = opt/vlime/__main__
	url = https://github.com/l04m33/vlime.git
[submodule "opt/winpty"]
	path = opt/winpty
	url = https://github.com/rprichard/winpty.git
[submodule "opt/br"]
	path = opt/br
	url = git@github.com:iamFIREcracker/br.git
[submodule "opt/mutt-notmuch-py"]
	path = opt/mutt-notmuch-py
	url = git@github.com:iamFIREcracker/mutt-notmuch-py.git
[submodule "opt/aadbook"]
	path = opt/aadbook
	url = git@github.com:iamFIREcracker/aadbook.git
[submodule "opt/goobook"]
	path = opt/goobook
	url = git@gitlab.com:iamFIREcracker/goobook.git
[submodule "opt/js-langserver"]
	path = opt/js-langserver
	url = git@github.com:iamFIREcracker/js-langserver.git
	ignore = dirty
[submodule "opt/mg"]
	path = opt/mg
	url = git@github.com:iamFIREcracker/mg.git
[submodule "opt/lg"]
	path = opt/lg
	url = git@github.com:iamFIREcracker/lg.git
[submodule "opt/scmindent"]
	path = opt/scmindent/__main__
	url = git@github.com:iamFIREcracker/scmindent.git
[submodule "opt/ap"]
	path = opt/ap
	url = git@github.com:iamFIREcracker/ap.git
[submodule "opt/bunny1/bunny1"]
	path = opt/bunny1/bunny1
	url = git@github.com:iamFIREcracker/bunny1.git
[submodule "opt/typescript-language-server"]
	path = opt/typescript-language-server
	url = https://github.com/theia-ide/typescript-language-server.git
[submodule "opt/rlwrap"]
	path = opt/rlwrap
	url = https://github.com/hanslub42/rlwrap
[submodule "opt/bypass-paywalls-chrome"]
	path = opt/bypass-paywalls-chrome
	url = https://github.com/iamadamdev/bypass-paywalls-chrome.git
[submodule "opt/slime"]
	path = opt/slime/__main__
	url = https://github.com/phmarek/slime.git
[submodule "opt/yason"]
	path = opt/yason/__main__
	url = https://github.com/phmarek/yason.git
[submodule "opt/trivial-build/__main__"]
	path = opt/trivial-build/__main__
	url = git@github.com:iamFIREcracker/trivial-build.git
